.App {
  padding: 20px 20px 20px 100px;
  font-family: 'Open Sans', 'Courier New', Courier, monospace;
  background-color: #f2f2f2;
  min-width: 100%;
  min-height: 100vh;
}

.main-button {
  border-radius: 1px;
  background-image: -webkit-radial-gradient(50% -46%, circle, #737373, #403d39);
  -webkit-box-shadow: 0 1px 3px 0 black, 0 1px 2px 0 black;
  box-shadow: 0 1px 3px 0 black, 0 1px 2px 0 black;
  padding: 10px 20px;
  color: white;
  border: none;
}

.content_box {
  border-radius: 2px;
  background-color: white;
  -webkit-box-shadow: 0 1px 3px 0 black, 0 1px 2px 0 black;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.title {
  font-size: 40px;
  font-weight: 700;
  color: #ff9770;
  margin: 0 0 10px;
}

a {
  text-decoration: none;
  color: inherit;
}
